/* DevelopmentPlatformDetailsPage styles - Layout is handled by MainLayout */

.container {
  position: fixed;
  top: 70px;
  left: 100px;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media (max-width: 576px) {
  .container {
    left: 60px;
  }
}
