/**
 * TracingSidebar - CSS Module
 * 
 * Simple wrapper styles - main styling is in TracingHierarchyView
 */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
